body, button {
    margin: 0;
    padding: 0;
    font-family: "ITV Reem", sans-serif;
    font-weight: lighter;
}

#programme-card:hover {
    cursor: pointer;
}

#itv_logo {
    width: 10%;
    margin: 0.5em;
    /*padding: 5px;*/
}

.css-1aya2g8 {
    width: 70%;
    margin: 30px auto 0;
}

#programme-card {
    height: auto;
    padding: 0.5em;
}

#programme-card p {
    font-size: medium;
}

img {
    width: 80%;
    margin: 0 10% 2%;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.guidance {
    color: red;
    margin-bottom: 0;
}

.episode-date-time {
    text-align: right;
    margin-right: 10%;
}