body, button {
    margin: 0;
    padding: 0;
    font-family: "ITV Reem", sans-serif;
    font-weight: lighter;
}

a {
    color: initial;
}

.header {
    margin-bottom: 1em;
}

#itv-hub-logo {
    width: 50%;
    padding: 0.5em;
}

.nav-bar {
    padding: 1.5em 0;
}

.nav-bar a {
    color: white;
}

.nav-item {
    text-align: center;
}

/* Search bar/drop-down */
.css-10nd86i {
    z-index: 100;
}

img {
    width: 80%;
    margin: 0 10% 2%;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
 * Categories page
 */

.category-box {
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
    cursor: pointer;
}

.category-box:hover {
    filter: brightness(85%);
}

.category-box p {
    padding: 2em 0;
    margin-bottom: 0;
}

#children, #home {
    background: #5FC9C2;
}

#comedy, #about {
    background: #5EBEA0;
}

#drama-soaps, #categories {
    background: #DD7181;
}

#entertainment, #channels {
    background: #5E4F81;
}

#factual {
    background: #879BAB;
}

#films {
    background: #EAA573;
}

#news {
    background: #A4326C;
}

#sport {
    background: tomato;
}

/**
 * Channels page
 */

.channel-bar {
    color: white;
    text-align: center;
}

.channel-bar img {
    height: 70%;
    padding-top: 1.5em;
    vertical-align: middle;
}

.channel-container {
    position: relative;
}

.channel-background {
    width: 100%;
    margin: 1em auto;
    position: relative;
    z-index: 1;
}

.channel-logo {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 7em;
    left: -0.05em;
    z-index: 3;
}

.channel-strapline {
    color: white;
    padding: 0.25em 0.5em;
    position: absolute;
    bottom: 5em;
    left: 3.5em;
    z-index: 3;
}

#ITV {
    background: #4FAEBA;
}

#ITV2 {
    background: #5CBD97;
}

#ITV3 {
    background: #3F4F95;
}

#ITV4 {
    background: #81959E;
}

#ITVBe {
    background: #AE81AC;
}

#CITV {
    background: #F4AB33;
}

/**
 * Programmes Display
 */

#programme-card:hover {
    cursor: pointer;
}

#programme-card {
    height: auto;
    padding: 0.5em;
}

.row.header {
    padding: 0 0.5em;
}

.col-sm-2.channel {
    margin-bottom: 1.5em;
}

.image {
    margin: auto;
    width: 100%;
}

/**
 * Episodes Display
 */

#episode-card:hover {
    cursor: pointer;
}

.episode-date-time {
    text-align: right;
}

.channel {
    border: 0;
    padding: 0;
    height: 3em;
    margin: 0 -5em 0 0;
}

/**
 * Single Episode Display
 */

h3.single-episode {
    margin: 0 auto;
}

.col-12.single-episode {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.series-episode-title {
    margin-bottom: 0.5em;
}

p.guidance-box {
    background: red;
    color: white;
    padding-left: 0.5em;
}

.synopsis {
    margin: 1em 0;
}

.broadcast-info-box-ITV {
    padding-left: 0.5em;
    background: #4FAEBA;
    color: white;
}

.broadcast-info-box-ITV2 {
    padding-left: 0.5em;
    background: #5CBD97;
    color: white;
}

.broadcast-info-box-ITV2.p {
    margin-bottom: 0;
}

.broadcast-info-box-ITV3 {
    padding-left: 0.5em;
    background: #3F4F95;
    color: white;
}

.broadcast-info-box-ITV4 {
    padding-left: 0.5em;
    background: #81959E;
    color: white;
}

.broadcast-info-box-ITVBe {
    padding-left: 0.5em;
    background: #AE81AC;
}

.broadcast-info-box-CITV {
    padding-left: 0.5em;
    background: #F4AB33;
}

.info-element {
    margin-bottom: 0;
}

.footer {
    padding: 2em 0;
    text-align: right;
}