body, button {
    margin: 0;
    padding: 0;
    font-family: "ITV Reem", sans-serif;
    font-weight: lighter;
}

#programme-card:hover {
    cursor: pointer;
}

#itv_logo {
    width: 60%;
}

/* Search bar/drop-down */
.css-10nd86i {
    padding: 30px 0;
}

#programme-card {
    height: auto;
    padding: 0.5em;
}

#programme-card p {
    font-size: medium;
}

img {
    width: 80%;
    margin: 0 10% 2%;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.guidance {
    color: red;
    margin-bottom: 0;
}

.episode-date-time {
    text-align: right;
    margin-right: 10%;
}

img.single-episode.image {
    /*margin: 0 auto;*/
    width: 60vw;
    height: 60vh;
}
.col-12.single-episode{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.single-episode h3, .single-episode p{
    margin: 0 auto;
    padding-left: 3%;
}